<section id= "section-b" class="grid" >
<div class="wrapper" id ="portfolio">
        <div class="page-header section-dark" style="background-image: url('assets/img/profilepic.JPG')">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        <h3 class="presentation-title">PERSONAL INFO </h3>
                        <h5>NAME  : Sarita Subhash Tompe</h5>
                        <h5>BIRTH DATE : 06/27/1994</h5>
                        <h5>EMAIL : tompesarita@gmail.com</h5>    
                        
                                <span class="row" >
                             &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;
                                <h5><a style="color: white !important;" href="https://www.linkedin.com/in/saritatompe/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>   LinkedIn</a></h5>
                               &nbsp;&nbsp;&nbsp;
                                <h5><a style="color: white !important;" href="https://github.com/saritatompe" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a></h5>
                            </span>
                               
                    </div>
                </div>
            </div>
            <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
</div>
</div>
</section>