<section id= "section-a" class="grid" >
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/code.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h3 class="presentation-title">Hi, I'm SARITA TOMPE. I'm a Full-stack web developer. </h3>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <app-components></app-components>
        
     </div>
</div>
<section>
