<section id= "section-c" class="grid page-header" style="display:block!important" >
        <div class="navigation-example" >
            <br/>
            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container">
                    <a class="navbar-brand" href="#"><h2 class="presentation-title">WHY HIRE ME ?</h2></a>
                    <br/> <br/><br/>

                    <br/> 
                </div>
            </nav>
            <br/> <br/>
            <div class="row nopadding position">
                <div class="col-md-10 position-title">
                    <section class="rw-wrapper">
                        <h2 class="rw-sentence">
                            <span style="color: white">Experties In </span>
                            <div class="rw-words rw-words-2">
                                <span>WEB_DESIGN</span>
                                <span>MEAN_STACK</span>
                                <span>DOCKER</span>
                                <span>ANGULAR</span>
                                <span>JAVA</span>
                                <span>PYTHON</span>
                            </div>
                        </h2>
                    </section>
                    <br/><br/><br/>
                </div>
                <div class="col-md-2 nopadding pdf">
                    <a href="#" class="hvr-sweep-to-right"><i class="flaticon-behance7" title="My Behance Portfolio"></i></a>
                </div>
            </div>
            <div>
                <h4 style="color: honeydew">Technically sophisticated Software Engineer with over 2.4 years of experience in
                    software design, development, and integration, incorporating a wide range of
                    applications and technologies. Proven track record designing and developing highend software/web applications consistent with unique client requirements, while
                    introducing advanced methods to resolve complex problems and enhance user
                    experience.
                    Accomplished communicator skilled in building and strengthening relationships
                    across functions to drive cohesive, strategic operations.</h4>
            </div><br/>
            <br/> <br/><br/>

                    <br/> 
                    <br/> <br/><br/>

                    <br/> 
            
             
             

        </div>
  
    </section>